RewriteEngine On
RewriteBase /

# Route / to index.php

RewriteRule ^$ index.php [L]

# Route /docs to pages/docs/index.php

RewriteRule ^docs/?$ pages/docs/index.php [L]

# Route /download to pages/download/index.php

RewriteRule ^download/?$ pages/download/index.php [L]

# Route /contact to pages/contact/index.php

RewriteRule ^contact/?$ pages/contact/index.php [L]

# Route /library to pages/library/index.php

RewriteRule ^library/?$ pages/library/index.php [L]

# Route /library/$item to /pages/packages/index.php?package=main

RewriteRule ^library/([a-zA-Z0-9_-]+)$ pages/packages/index.php?package=$1 [L,QSA]

<!-- # RewriteRule ^about/?$ pages/about.php [L] -->
