:root {
    --bg: #06081350
}

button.download {
    color: #000;
    margin: auto;
    padding: 3px;
    width: 150px;
    line-height: 40px;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: inherit;
    background-color: #fff;
    position: relative;
    box-shadow: 1px 1px 0, 2px 2px 0, 3px 3px 0, 4px 4px 0, 5px 5px 0;
}

button.download:active {
    top: 5px;
    left: 5px;
    box-shadow: 0 0 0 0;
}