/* Font (Geist and Poppins */
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Geist:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg: #06081350
}

* {
    font-family: "Geist", "Poppins", Arial, Helvetica, sans-serif;
}

button.download {
    color: #000;
    padding: 3px;
    width: 150px;
    line-height: 40px;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: inherit;
    background-color: #fff;
    position: relative;
    box-shadow: 1px 1px 0, 2px 2px 0, 3px 3px 0, 4px 4px 0, 5px 5px 0;
}

button.download:active {
    top: 5px;
    left: 5px;
    box-shadow: 0 0 0 0;
}

.hidden-navbar {
    transform: translateY(-100%);
    /* Hides the navbar */
}

#navbar {
    background: #1e2939b3;
}